/* setup */
*{  margin:0px;
    padding:0px;
    box-sizing: border-box;
}

/* fonts (svatopluk)*/
@font-face{
    font-family: "svatopluk";
    src: url("../fonts/Svatopluk-Light.otf");
    font-weight: 300;
}
@font-face{
    font-family: "svatopluk";
    src: url("../fonts/Svatopluk-Regular.otf");
    font-weight: 400;
}
@font-face{
    font-family: "svatopluk";
    src: url("../fonts/Svatopluk-Medium.otf");
    font-weight: 500;
}
@font-face{
    font-family: "svatopluk";
    src: url("../fonts/Svatopluk-SemiBold.otf");
    font-weight: 600;
}
@font-face{
    font-family: "svatopluk";
    src: url("../fonts/Svatopluk-Bold.otf");
    font-weight: 700;
}
@font-face{ /*black*/
    font-family: "svatopluk";
    src: url("../fonts/Svatopluk-Black.otf");
    font-weight: 900;
}

/* background color */
body{
    background-color: antiquewhite;
    font-family: "svatopluk", sans-serif;
}   

.homepage-nav ul{
    list-style-type: none;
    margin: 0 9em 0 9em;
    padding: 0 0 2em 0;
    display: flex;
    justify-content: space-between;
}
.homepage-nav ul li a{
    display: block;
    font-weight: 700;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 50px 25px;
    text-decoration: none;
}
.homepage-nav ul li a:hover{
    background-color: white;
}


/*homepage*/
main{
    max-width: 1650px;
    margin: 0 auto;
    padding: 0 16px;
    
}

.container{
    display: flex;
    justify-content: center;
    margin: 0 0 5em 0;
    gap: 25px;
}

.box1{
    width: 10em;
    position: relative;
    overflow: hidden;
}
.box1 .banner strong{
    background-color: black;
    color: white;
}
.box1 .banner{
    transform: rotate(-90deg);
    font-size: 3em;
    position: absolute; 

    transform-origin: 0 0; 
    margin-top: 0; 
    top: 95%; 
}

.box2{
    width: 30em;
    height: 0em;
}
.box2 .picture1, .picture2{
    border: 2px solid black;
    height: 22em;
    margin: 0 0 1em 0;
    overflow: hidden;
}
.box2 .picture1 img{
    margin-top: -30px;
}
.box2 .picture2 img{
    margin-top: -80px;
}
.box2 .picture2 p{
    display: grid;
    position: relative;
    color: white; 
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
}

.box3{
    border: 2px solid black;
    width: 60em;
    height: 45em;
    background-color: orange;

    overflow: hidden;
    justify-content: right;
    position: relative;
}
.box3 img{
    display: block;
    width: 100%;
    transform: scaleX(-1);
    object-fit: fill;
    margin-top: -70px;
}
.box3 .welcome {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    left: 65px;
    top: 4px;
    font-size: 4em;
    margin: 0;
    padding: 0;
}
.box3 .self-intro {
    display: grid;
    position: absolute;
    color: white; 
    gap: 20px;
    bottom: 10px;
    left: 10px; 
    padding: 15px;
    font-size: 15px;
}
.box3 .self-intro h2{
    font-weight: 600;
}
.box2 img{
    width: 100%;
    object-fit: contain; 
}


/* footer */
footer {
    background-color: #013D5A;
    color: white;
    padding: 50px 160px 20px 160px; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px; 
}

.footer-left img {
    width: 80%;
    height: auto;
}

.footer-right {
    display: flex;
    gap: 10em;
}

footer ul {
    list-style-type: none;
    margin: 0;
}

.copyright {
    display: flex;
    justify-content: space-between;
    text-align: center;
    opacity: 0.5;
    font-size: 1em;
    padding-top: 20px;
}
footer ul li {
    margin-top: 1.5em;
}
footer ul li a {
    text-decoration: none;
    color: white;
}
